################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsEngine/.vs
/GraphicsEngine/TestGame/x64
/GraphicsEngine/GraphicsEngine/lib/32
/GraphicsEngine/GraphicsEngine/OLD
/GraphicsEngine/GraphicsEngine/x64
/GraphicsEngine/x64/utils
/GraphicsEngine/x64/Release
/GraphicsEngine/x64/Debug
/GraphicsEngine/x64/utils
/GraphicsEngine/x64/asset/output
/GraphicsEngine/x64/asset/DerivedDataCache
/RunGource.bat
/GraphicsEngine/x64/asset/scene/asd.scene
/gorucetoMp4.bat
/RunGourceToFile - Copy.bat
/RunGourceToFile.bat
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.lib
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.pdb
/GraphicsEngine/GraphicsEngine/lib/64/Release/TestGame.lib
/GraphicsEngine/GraphicsEngine/lib/64/Release/TestGame.pdb
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.pdb
/GraphicsEngine/Build
