################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsEngine/.vs
/GraphicsEngine/TestGame/x64
/GraphicsEngine/GraphicsEngine/lib/32
/GraphicsEngine/GraphicsEngine/OLD
/GraphicsEngine/GraphicsEngine/x64
/GraphicsEngine/x64/utils
/GraphicsEngine/x64/Release
/GraphicsEngine/x64/Debug
/GraphicsEngine/x64/utils
/GraphicsEngine/x64/asset/output
/GraphicsEngine/x64/asset/DerivedDataCache
/RunGource.bat
/GraphicsEngine/x64/asset/scene/asd.scene
/gorucetoMp4.bat
/RunGourceToFile - Copy.bat
/RunGourceToFile.bat
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.lib
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.pdb
/GraphicsEngine/GraphicsEngine/lib/64/Release/TestGame.lib
/GraphicsEngine/GraphicsEngine/lib/64/Release/TestGame.pdb
/GraphicsEngine/GraphicsEngine/lib/64/Debug/TestGame.pdb
/GraphicsEngine/Build
/GraphicsEngine/GraphicsEngine/lib/64/vulkan-1.pdb
/GraphicsEngine/GraphicsEngine/lib/SOIL.lib
/GraphicsEngine/x64/unused
/GraphicsEngine/GraphicsEngine/lib/64/Debug
/GraphicsEngine/x64/asset/DDC
/GraphicsEngine/GraphicsEngine/include/nvapi
/GraphicsEngine/GraphicsEngine/lib/64
/GraphicsEngine/x64/asset/Saved
/GraphicsEngine/BuildCsFiles.dll
/GraphicsEngine/lib/64/nvapi64.lib
/GraphicsEngine/lib/64/Debug/TestGame.dll
/GraphicsEngine/lib/64/Debug/TestGame.ilk
/GraphicsEngine/lib/64/Debug/TestGame.pdb
/GraphicsEngine/lib/64/Release/TestGame.lib
/GraphicsEngine/Intermediate
/GraphicsEngine/Binaries/Debug
/GraphicsEngine/Binaries/asset/Saved
/GraphicsEngine/Binaries/Release
/GraphicsEngine/Binaries/RelWithDebInfo
/GraphicsEngine/Binaries/Asset/DDC
/GraphicsEngine/EngineSolution.sln.lnk
/GraphicsEngine/Content/Saved
/GraphicsEngine/Source/CmakeLists.txt
/GraphicsEngine/Source/CmakeLists.txt
/GraphicsEngine/Shaders/Gen
/GraphicsEngine/DerivedDataCache
/GraphicsEngine/Binaries
/GraphicsEngine/EngineBuildTool.exe.config
/GraphicsEngine/EngineBuildTool.pdb
*.pdb
/GraphicsEngine/Content/Test/Test.Scene
/GraphicsEngine/Packed
/GraphicsEngine/CmakeLocal/CMake
/GraphicsEngine/Source/OLD
/.vs
/GraphicsEngine/Content/Terrain/MeduimMap.png
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/SPVRemapperd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/OSDependentd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/HLSLd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/SPVRemapper.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/SPIRV.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/SPIRV-Tools.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/SPIRV-Tools-opt.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/HLSL.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/SPIRVd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/SPIRV-Tools-optd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/glslang.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/OGLCompiler.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/glslangd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/SPIRV-Toolsd.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/Release/OSDependent.lib
GraphicsEngine/Source/ThirdParty/vulkan/Lib/debug/OGLCompilerd.lib
GraphicsEngine/Shaders/VKan/
GraphicsEngine/Source/ThirdParty/vulkan/Lib/
GraphicsEngine/Source/premake.lua
